* {
  box-sizing: border-box;
}
html {
  font-family: "Arial", sans-serif;
}
iframe {
  width: 100%;
  height: 100%;
}
form {
  width: 100%;
  max-width: 500px;
}
label {
  margin-bottom: 8px;
  display: block;
  color: #40545F;
  font-size: 14px;
  font-weight: 700;
}
.field-wrapper {
  margin-bottom: 16px;
  width: 100%;
  height: 40px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  box-shadow: 0px 0px 3px rgba(23, 31, 39, 0.3);
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  border-radius: 4px;
}
.vgs-collect-container__focused {
  border-color: #145FF5;
  box-shadow: 0px 0px 6px rgb(87 158 255 / 40%);
}
.vgs-collect-container__invalid.vgs-collect-container__dirty:not(.vgs-collect-container__focused) {
  border-color: #FF0000;
  box-shadow: 0px 0px 6px rgb(255 0 0 / 40%);
}
